.body {
  padding-top: 40px;
}

.jumbotron  {
  background-image: url(img/sanna_and_the_cat.jpg);
  background-size: cover;
  opacity: 0.9;
 /**Photo by Sora Sagano on Unsplash**/
}

.about {
  text-align: center;

}


.navbar {
  color: #F0FFFF;
  font-size: 1rem;
}

.display-2
{
  border-color: white;
  border-width: medium;
  text-shadow: 3px 2px white;

}

.lead {
  border-color: white;
  border-width: small;
  text-shadow: 1px 1px white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.row {
  padding-left: 10px;

}
