.body {
  padding-top: 40px;
}

.jumbotron  {
  background-image: url(img/sanna_and_the_cat.jpg);
  background-size: cover;
  opacity: 0.9;
 /**Photo by Sora Sagano on Unsplash**/
}

.about {
  text-align: center;

}


.navbar {
  color: white;
  background-color: #A1E9D7;
  font-size: 1rem;
}

.display-2
{
  text-shadow: 2px 2px 1px white;
}

.lead {
  text-shadow: 2px 2px white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
}

.btn {
  border-style: solid;
  border-color: lightgrey;

}
.row {
  padding-left: 10px;

}
