.jumbotron  {
  background-image: url(img/sora-sagano-639761-unsplash.jpg);
 /**Photo by Sora Sagano on Unsplash**/
}

.about {
  text-align: center;

}


.navbar .navbar-brand {
  color: rbga(255, 255, 255, 0.85);
  font-size: 1rem;
}
